<div ng-controller="leaveRequestController">
    <h3>Leave Requests</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="leave in leaves">
                <td>{{leave.Name}}</td>
                <td>{{leave.StartDate}}</td>
                <td>{{leave.EndDate}}</td>
                <td>{{leave.Reason}}</td>
                <td>{{leave.Status}}</td>
                <td>
                    <input type="button" value="Approve" ng-click="approve(leave.LeaveId)"/>
                    <input type="button" value="Reject" ng-click="reject(leave.LeaveId)"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>