<div ng-controller="leavesController">
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Start Date</label>
            <input type="date" class="form-control" ng-model="leaveRequest.startDate">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">End Date</label>
            <input type="date" class="form-control" ng-model="leaveRequest.endDate">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Reason</label>
            <input type="text" class="form-control" ng-model="leaveRequest.reason">
        </div>
        <button type="button" class="btn btn-default btn-primary" ng-click="apply()">Submit</button>
    </form>
    <h3>Leaves</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="leave in leaves">
                <td>{{leave.StartDate}}</td>
                <td>{{leave.EndDate}}</td>
                <td>{{leave.Reason}}</td>
                <td>{{leave.Status}}</td>
            </tr>
        </tbody>
    </table>
</div>